*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Roboto', sans-serif;
}

.w-50{
  width: 50%;
}


/* intestazione pagina header */
/* bottoni e logo */
header{
  height: 550px;
  background-color:#0C325A ;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}

.container{
  width: 80%;
  margin: auto;
  height: 100%;
  min-width: 1400px;
}

.header-nav{
  height: 80px;
  overflow: hidden;
}

.flo{
  float: left;
}

.header-logo{
  width: 15%;
}

.nav-central{
  width: 45%;
}

.nav-right{
  width: 40%;
  text-align: right;
}

 .header-nav ul li{
  display: inline;
  list-style: none;
  font-style: none;
  margin-left: 20px;
}

li a{
 color: #FFFFFF;
 text-decoration: none;
 line-height: 80px;
 font-size: 80%;
 text-transform: uppercase;
}

.header-logo img{
  margin-top: 14px;
}

.btn{
 
  padding: 7px 14px;
  border-radius: 5px;
}

.btn.btn-blue{
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #808080;
}

.btn-green{
 background-color: #7CBB04;
}

li a:hover{
  color:#EB5761 ;
}

li a:active{
  color: #be000a;
}

.btn.btn-green:hover{
  color:#0C325A;
}

.btn.btn-green:active{
  color: #808080;;
}

.large-green{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 110%;
}
/* / bottoni e logo */

/* testo h1 dell'header */
.jumbotrom{
  position: relatives;
}

.jumbotrom-text h1{
  color:#FFFFFF;
  font-size: 381%;
  margin-bottom: 20px;
}

.jumbotrom-text{
 width: 50%;
 position: absolute;
 top: 20%;
}
/* / testo h1 dell'header */
/* / intestazione pagina header */


/* corpo del sito */

.columns-foto, .graphs{
  width: 80%;
  margin: auto;
}

/* prima sezione */
.box-grey{
  background-color:#D3D3D3 ;
  height: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.box-grey h3{
  padding-top: 45px;
  padding-bottom: 10px;
  font-size: 160%;
}

.box-grey p{
  font-size: 120%;
  color: #838383;
}
/* / prima sezione */

/* seconda sezione */

.columns{
width: 30%;
text-align: center;
float: left;
}

.columns-img img{
width: 30%;
}

.columns h5{
  color: #86C016;
  font-size: 170%;
  padding-bottom: 30px;
  padding-top: 15px;
}

.columns hr{
  width: 20%;
  margin-left: 40%;
  margin-bottom:30px;
}

.columns p{
  color:#848484 ;
  font-size: 120%;
}

.columns.clm-central{
  margin-left: 5%;
  margin-right: 5%;
}

.rule-special{
  margin-top: 33px;
}

.clm-central .columns-img img{
  width: 51%;
}

.clm-right .columns-img img{
  width: 35%;
}
/* / seconda sezione */

.rule-main{
  width: 98%;
  margin-left:1%;
  margin-bottom:50px;
  margin-top:50px;
}

/* terza sezione */
.graphs{
  position: relative;
}

.img-mountain{
  width:50%;
}

.graphs-text{
  width: 50%;
}

.img-mountain img{
  width: 80%;
}

.graphs-text h3{
  font-size: 280%;
}

.graphs-text p{
  font-size: 160%;
  color: #848484;
}

.graphs-text h3,
.graphs-text p{
  padding-bottom: 20px;
}

.graphs-text a{
  color: #739CC8;
}

.graphs-text a:hover{
  color:#808080 ;
}

.graphs-text a:active{
  color:#000000 ;
}
/* / terza sezione */